@import '../../base.scss';

.favourites__content {
  padding: 0 $spaceMedium;
  background-color: $greyLight;
}

.beer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $spaceMedium;
  grid-row-gap: $spaceMedium;
  padding: 50px 0;
  max-width: 800px;
  margin: 0 auto;
}

@media #{$bp-medium-down} {
  .beer-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media #{$bp-small-only} {
  .beer-list {
    grid-template-columns: 1fr;
  }
}