@import '../../base.scss';

.navigation-menu {
  padding: $spaceSmall $spaceMedium;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  height: 40px;
  
  text-align: right;
  color: $white;
  background-color: $orange;

  a {
    color: $white;
    text-decoration: none;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-left: $spaceMedium;
    }
  }

  .active {
    font-weight: 700;
  }
}