@import '../../base.scss';

.beer__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding: $spaceMedium $spaceMedium $spaceLarge $spaceMedium;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  img {
    max-height: 150px;
  }
}

.beer__name {
  color: $orange;
}

.beer__tagline {
  color: $grey;
}

.beer__favourite {
  position: absolute;
  top: 0;
  right: 0;
  padding: $spaceSmall;
  cursor: pointer;

  &::after {
    content: "\2606";
  }
  
  &--selected {
    color: $orange;

    &::after {
      content: "\2605";
    }
  }
}